.email {
  color: gray;
  font-size: 12px;
  margin-bottom: 0;
}

.input-box {
  margin-top: 5px;
  margin-bottom: 0;
  width: 270px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
}

.agreement {
  color: gray;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.join-btn {
  background-color: #2c59a2;
  border: none;
  color: white;
  padding: 10px 104px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.join-btn:hover {
  background-color: #22457d;
}
