.search-bar {
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.397);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 500px;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
